# Set Working Directory and List

In [1]:
# Set working directory
import os
os.chdir('C:/Users/manue/OneDrive - ZHAW/MSc Wirtschaftsinformatik/2. Semester/Applied Data Science/ADS Projekt')

# Warnings settings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Lis with randomly choosed user-agents for rotation
ua_path = "user_agents.txt"
ua_list = [line.rstrip('\n') for line in open(ua_path)]
ua_list[:5]

['Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.117 Safari/537.36',
 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36',
 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0',
 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.4 Safari/605.1.15']

## Scrape Data automated from onvista and Store in csv

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import random

opts = Options()
opts.add_argument("--window-size=1200,800")
opts.add_argument("user-agent=" + random.choice(ua_list))
driver = webdriver.Chrome(executable_path='chromedriver.exe', options=opts)

#Websites to Scrape
IndexListe= ["DAX", "EURO STOXX 50", "Dow Jones",  "SMI", "MSCI World", "FTSE", "ATX", "SDAX", "Tec DAX", "NASDAQ 100", "Nikkei", "Hang Song", "SHANGHAI STOCK EXCHANGE B SHARES"]

#IndexListe= ["DAX"]

# Daten in csv Datei schreiben
import pandas as pd
import csv



#Scraping Loop
x=0
Text=""
while x < len(IndexListe):
    Jahr=1987
    while Jahr <=2017:
        URL = "https://www.onvista.de/onvista/times+sales/popup/historische-kurse/?notationId=20735&dateStart=30.12." +str(Jahr)+"&interval=Y5&assetName="+IndexListe[x]+"&exchange=Xetra"
        driver.get(URL)
        text1 = driver.find_element_by_css_selector('body > div.INHALT.WEBSEITE > article > table > tbody').text
        Text= Text+text1
        templist = []
        Table_dict={ 'Gescrapte Finanzdaten': Text}
        templist.append(Table_dict)
        df = pd.DataFrame(templist)
        df.to_csv(IndexListe[x]+".csv")
        Jahr+=5
    x+=1
    
    



# Examples using tag name
#text = driver.find_element_by_xpath('/html/body/div[1]/article').text

# Further examples (find out by yourself)
# text = driver.find_element_by_name('').text
# text = driver.find_element_by_tag_name('').text
# text = driver.find_element_by_id('').text

## Get Data with API

In [2]:
Code von Maxim einfügen

SyntaxError: invalid syntax (<ipython-input-2-0ba3187fe510>, line 1)

## Data Cleansing and Preparation (if necessary)

## read Data from csv, structure it and write it into Directory

In [5]:
# Load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-whitegrid')
%matplotlib inline
IndexListe= ["DAX", "EURO STOXX 50", "Dow Jones",  "SMI", "MSCI World", "FTSE", "ATX", "SDAX", "Tec DAX", "NASDAQ 100", "Nikkei", "Hang Song", "SHANGHAI STOCK EXCHANGE B SHARES"]
Indexdf= ["dfDAX", "dfEURO STOXX 50", "dfDow Jones",  "dfSMI", "dfMSCI World", "dfFTSE", "dfATX", "dfSDAX", "dfTec DAX", "dfNASDAQ 100", "dfNikkei", "dfHang Song", "dfSHANGHAI STOCK EXCHANGE B SHARES"]
x=0
while x < len(IndexListe):
    Indexdf[x]= pd.read_csv(IndexListe[x]+".csv", delimiter=' ', header=None, skiprows=2, names=['Datum','Eröffnung','Hoch','Tief','Schluss','Volumen'], index_col=False)
    x+=1
#pd.read_csv('Finanzdaten.csv', index_col=False)
#df = pd.DataFrame(text)
#df

# Show the content of the dataframe:

Indexdf

[           Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0     04.01.1988     943,880     943,880     943,880     943,880            0
 1     05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2     06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3     07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4     08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...          ...         ...         ...         ...         ...          ...
 8654  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 8655  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 8656  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 8657  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 8658  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [8659 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 17313  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 17314  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 17315  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 17316  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 17317  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [17318 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 25972  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 25973  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 25974  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 25975  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 25976  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [25977 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 34631  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 34632  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 34633  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 34634  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 34635  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [34636 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 43290  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 43291  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 43292  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 43293  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 43294  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [43295 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 51949  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 51950  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 51951  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 51952  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 51953  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [51954 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 60608  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 60609  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 60610  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 60611  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 60612  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [60613 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 69267  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 69268  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 69269  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 69270  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 69271  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [69272 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 77926  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 77927  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 77928  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 77929  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 77930  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [77931 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 86585  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 86586  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 86587  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 86588  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 86589  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [86590 rows x 6 columns],
             Datum   Eröffnung        Hoch        Tief     Schluss      Volumen
 0      04.01.1988     943,880     943,880     943,880     943,880            0
 1      05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340            0
 2      06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160            0
 3      07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010            0
 4      08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280            0
 ...           ...         ...         ...         ...         ...          ...
 95244  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400  109.361.893
 95245  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940  142.169.365
 95246  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840   94.805.660
 95247  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880   99.058.928
 95248  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070  84.872.047"

 [95249 rows x 6 columns],
              Datum   Eröffnung        Hoch        Tief     Schluss  \
 0       04.01.1988     943,880     943,880     943,880     943,880
 1       05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340
 2       06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160
 3       07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010
 4       08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280
 ...            ...         ...         ...         ...         ...
 103903  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400
 103904  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940
 103905  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840
 103906  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880
 103907  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070

             Volumen
 0                 0
 1                 0
 2                 0
 3                 0
 4                 0
 ...             ...
 103903  109.361.893
 103904  142.169.365
 103905   94.805.660
 103906   99.058.928
 103907  84.872.047"

 [103908 rows x 6 columns],
              Datum   Eröffnung        Hoch        Tief     Schluss  \
 0       04.01.1988     943,880     943,880     943,880     943,880
 1       05.01.1988   1.004,340   1.004,340   1.004,340   1.004,340
 2       06.01.1988   1.020,160   1.020,160   1.020,160   1.020,160
 3       07.01.1988   1.009,010   1.009,010   1.009,010   1.009,010
 4       08.01.1988   1.025,280   1.025,280   1.025,280   1.025,280
 ...            ...         ...         ...         ...         ...
 112562  26.04.2022  14.087,080  14.112,840  13.749,680  13.756,400
 112563  27.04.2022  13.760,220  13.849,430  13.566,200  13.793,940
 112564  28.04.2022  13.907,060  14.074,710  13.822,160  13.979,840
 112565  29.04.2022  14.095,930  14.187,020  14.038,550  14.097,880
 112566  02.05.2022  13.996,820  14.036,110  13.778,130  13.939,070

             Volumen
 0                 0
 1                 0
 2                 0
 3                 0
 4                 0
 ...             ...
 112562  109.361.893
 112563  142.169.365
 112564   94.805.660
 112565   99.058.928
 112566  84.872.047"

 [112567 rows x 6 columns]]

Test